@import '~antd/dist/antd.css';

html,
body,
#root,
.full {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.border-of-drag-file {
  padding: 1em;
  border: 1px dashed transparent;
  background: linear-gradient(white,white) padding-box,
  repeating-linear-gradient(-45deg,#ccc 0, #ccc 0.25em,white 0,white 0.75em);
}

.clickable:hover{
  background-color: #cccccc;
}
